.modal-header, .close {
    background-color: #255D80;
    color:white !important;
    text-align: center;
    font-size: 35px;
    padding: 30px 20px 10px 20px;
}
#titleModal{
    font-size: 22px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#emptyModal{
    color: red;
}
.btnModal {
    background-color: #0A7E8F;
    color: white;
    height: 35px;
    display: block;
}
.btnModal:hover{
    color: white;
    background-color: #255D80;
}