
body{
    width: 100%;
}

hr{
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 1px;
}
/* CONTENT BOXES*/
#content{
    width: 100%;
    height: 100%;
}
.column {
    float: left;
    width: 40%;
    padding: 10px;
    text-align: center;
    color:white;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.box_items{
    padding-left:10% !important;
}

/* HEADER */
.button{
    background-color: #3B6884;
    border:none;
    width: 100px;
    color: white;
    font-size: 19px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Grande";
    display: inline-block;
}

span{
    font-family: "Skia";
}
.button:hover, .button:focus{
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#header_text{
    padding-left: 30%;
    font-family: "Skia";
    font-size: 16px;
    font-weight: 400;
}

#inputID, input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;
 }

#inputID::placeholder{
    color:white;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 0 0 0;
    width: auto;
    color:white;
    background-color: rgb(52,184,192);
    align-items: center;
}

#enter_id_box{
    padding-left: 10%;
    background-color: #2BA7AF;
        box-shadow: grey;
    height: 55px;
    font-family: "Skia";
    text-align: center;
}

#ented_id_text{
    padding: 10px;
}

#user_icon{
    text-align: center;
}


/* List of subjects */
h4{
    color: #273a4e;

}

li {
    position: relative;
    padding-left: 15px;
    padding-bottom: 5px;
}

#subjectName{
    font-size: 19px;
    color:#3B6884;
}

a{
    color:black;
    font-size: 15px;
    font-family: Skia, 'Poppins', sans-serif;
}

li:before {
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: -10px;
}

#subjectList{
    padding-left: 10%;
    padding-top: 20px;
}

/* List of question */
#topic_header{
    margin: 5px 0px 3px 0px;
}

.list-group-item{
    height: 45px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #DADBDD;
}
.list-group-answer,.list-group-letter {
    height: 40px;
    border: 1px solid #3B6884;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}
.list-group-letter{
   background-color: #3B6884;
    color: white;
    position: relative;
    align-content: center;
}

.question_container{
    margin: 2% 15% 0% 15%;
}

/* List of progress bars with grades */
.progress{
    width: 80%;
    margin-top: 10px;
}

.progress-bar{
    background-color: #3B6884;
    color: white;
}

#all_grades_list{
    padding-left: 10%;
    margin-top: 25px;
    font-family: "Lucida Grande";
}


/* List of tests in specific topic */
#all_subject_tests{
    padding-top: 7%;
}

.testScore{
    padding-bottom: 3%;
    font-family: "Lucida Grande";
}

.testScore h5 {
    padding: 2px;
    margin: 0px;
}

.testScore .topic{
    color: #3B6884;
}


/* CHECKBOXES Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    height: 32px;
    font-weight: 400;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #3B6884;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-left: 30%;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 50px;
    background-color: #3B6884;
}
.container input:checked ~ .checkmark {
    background-color: #3B6884;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    zoom: 1.4;
    margin-left: 5px;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (max-width: 768px) {

#header_text{
    padding-left: 15%;
    font-family: "Skia";
    font-size: 16px;
    font-weight: 400;
}
    .question_container{
        margin: 2% 7% 0% 7%;
    }
}